html, body  {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
header {
    height: 80px;
    display: flex;
    background: #005773;
}
.label-text {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: white;
}
select {
    font-size: 1.2em;
}
.selector {
    margin: 10px;
}
#checkButton {
    margin: 37px 10px;
    font-size: 1.2em;
}
#endpoint {
    margin: 37px 10px;
    font-size: 1.2em;
    color: white;
    display: none;
}
#map {
    width: 100%;
    height: calc(100% - 80px);
}
